<!-- base.html -->

<html>
    <head>
        <title>microblog</title>
        <link href="../static/styles.css" media="screen" rel="stylesheet" type="text/css">
        <!-- google charts -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <!-- <script type="text/javascript">
          google.charts.load('current', {packages: ['corechart']});
          google.charts.setOnLoadCallback(drawChart);
        </script> -->

        <!-- google api -->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <!-- world_stats.js -->
        <script type="text/javascript" src="../static/top_commodities.js"></script>
        {% block headers %}{% endblock %}
    </head>

    <nav>
    </nav>

    <body>
        <!-- index.html -->

        {% block content %}{% endblock %}

    </body>
</html>
