<!-- base.html -->

<html>
    <head>
        <title>top commodities</title>
        <link href="../static/styles.css" media="screen" rel="stylesheet" type="text/css">
    </head>

    <body>
        <!-- index.html -->
        {% block content %}{% endblock %}

        <!-- json script -->
        <script type="application/json" id="embedded_posts">{{ posts|tojson|safe }}</script>

        <!-- google api -->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <!-- google charts -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <!-- world_stats.js -->
        <script type="text/javascript" src="../static/top_commodities.js"></script>
    </body>
</html>
