<!-- index.html -->

{% extends "base.html" %}

{% block content %}
    <h1>World Crop Production</h1>

    <!-- Form tag -->
    <form method="POST">
        {{ form.country.label }} {{ form.country() }}
        {{ form.crop.label }} {{ form.crop() }}
        {{ form.year.label }} {{ form.year() }}
        {{ form.submit() }}
    </form>

    <!-- World Map -->
    <div class="regions_div" id="regions_div"></div>

    <!-- Bar Chart -->
    <div class="chart_div" id="chart_div">{{crop}}</div>


{% endblock %}
